footer {
    background: $footer-bg;
    color: $secondary-color;
    font-family: gotham-book;
    .footer-links {
        padding: 60px 0;
        padding: 40px 8px;
    }
    a {
        color: $secondary-color;
        &:hover {
           text-decoration: none;
           color: $secondary-color;
        }
    }
    ul {
        li {
            font-family: gotham-light;
            list-style: none;
            @include fontSize(13);
        }
    }
    h4 {
        font-family: gotham-bold;
        @include fontSize(16);
    }
    .mrg-b-20 {
        margin-bottom: 20px;
    }
    .propharma-footer-logo {
        width: 200px;
    }
    .propharma-group {
        img {
            width: 17px;
        }
        .career-btn {
            font-family: gotham-bold;
            background: $sky-blue-bg;
            color: $secondary-color;
            border: none;
            border-radius: 0;
            padding: 8px 26px 9px;
        }   
    }
    .social-media {
        margin: 30px 0 20px;
        img {
            margin: 10px;
        }
        .linkedin {
            width: 20px;
        }
        .twitter {
            width: 22px;
        }
    }
    .copyrights {
        margin: 10px 0; 
        @include fontSize(13);
        p {
            &:first-child {
                margin-bottom: 5px;
            }
            &:nth-child(2) {
                margin-bottom: 0;
            }
        }
    }
    @media screen and (min-width: 992px) {
        background-image: url(../images/content-images/footer-design.png);
        background-position: right 74px top;
        background-repeat: no-repeat;
        background-size: 14%;
        .footer-links {
            padding: 60px 0;
        }
        .social-media {
            margin: 0;
        }
    }
}