header {
    font-family: gotham-medium;
    @include fontSize(14);
    box-shadow: 0px 0px 9px -4px $shadow;
    position: relative;
    overflow: hidden;
    .change {
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }
        .bar2 { 
            opacity: 0;
        }
        .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
     nav {
         .navbar-brand {
            padding: 0 0 17px 15px;
         }
         .pharma-logo {
             width: 157px;
         }
         .icons {
            padding: 0 15px 17px 0;
         }
         .search-icon {
            width: 25px;
            vertical-align: baseline;
         }
         .navbar-toggler {
            border: none;
            padding: 0 6px;
            .bar1, .bar2, .bar3 {
                width: 26px;
                height: 2px;
                background-color: $light-blue;
                margin: 6px 0;
            }
        }
     }
     .main-header {
        padding: 40px 30px 10px;
        background: $dark-blue-bg;
        z-index: 2;
        .nav-item {
            .nav-link {
                padding: 8px 0 20px;
                color: $secondary-color;
                @include fontSize(14);
                &:after {
                    font-family: "FontAwesome";
                    content: "\f105";
                    position: absolute;
                    right: 30px;
                    @include fontSize(18);
                }
            }
            .lifecycle {
                padding-top: 30px;
            }
            .line {
                width: 90%;
                height: 1px;
                position: absolute;
                left: 0;
                background: $secondary-color;
            }
        }
    }
    .second-header {
        padding: 20px 30px 10px;
        background: $sky-blue-bg;
        background-image: url(../images/content-images/header-design.png);
        background-size: 100%;
        background-position: right 19px bottom;
        background-repeat: no-repeat;
        .nav-item {
            .nav-link {
                color: $secondary-color;
            }
        }
    }
    @media screen and (min-width: 540px) {
        .second-header {
            background-size: 60%;
        }
    }
    @media screen and (min-width: 767px) {
        .second-header {
            background-size: 48%;
            z-index: 1;
        }
        .navbar-collapse {
            margin: 0 -24px;
        }
    }
    @media screen and (min-width: 992px) {
        nav {
            padding: 0 !important;
            .navbar-brand {
                padding: 0;
            }
            .pharma-logo {
                width: 175px;
            }
            .icons {
                padding: 0;
                display: none;
             }
        }
        .navbar-collapse {
            margin: 0 0 0 100px;
        }
        .main-header {
            justify-content: flex-end;
            padding: 0;
            background: none;
            .line {
                display: none;
            }
            .nav-item {
                .nav-link {
                    color: $dark-blue-color;
                    padding: 8px 26px;
                    padding: 15px 20px;
                    &:after {
                        content: none;
                    }
                }
            }
        }
        .second-header {
            justify-content: flex-end;
            background-image:none ;
            padding: 0;
            &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 38px;
                top: 0;
                left: 300px;
                z-index: -1;
                background: $sky-blue-bg;
                -webkit-transform-origin: top left;
                transform-origin: top left;
                -webkit-transform: skew(30deg, 0deg);
                transform: skew(30deg, 0deg);
            }
            .nav-item {
                .nav-link {
                    padding: 8px 10px;
                    @include fontSize(12);
                }
                .blog {
                color: $highlight-color;
                background: $highlight-bg;
                padding: 10px;
                }
                .globe {
                    height: 22px;
                }
            }
        }   
    }
    @media screen and (min-width:1200px) {
        .second-header {
            &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 38%;
                top: 0;
                left: 314px;
            }
        }
    }
    @media screen and (min-width: 1450px){
        .second-header {
            &:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 39%;
                top: 0;
                left: 460px;
            }
        }
    }   
}
