.global-locations {
    padding: 40px 6px 20px 6px;
    background: $location-bg;
    h3 {
        font-family: gotham-bold;
        @include fontSize(30);
    }
    ul {
        border-bottom: 1px solid $line-color;
        padding-bottom: 40px;
        li {
            font-family: gotham-book;
            @include fontSize(16);
            list-style: none;
            margin: 20px 0 0 0;
            text-decoration: underline;
        }
    }
    a {
        font-family: gotham-book;
        color: $location-link;
    }
    .map {
        margin: 10px 0 20px;
        img {
            width: 64%;
        }
    }
    .locations {
        padding: 30px 6px 20px 6px;
    }
    .location {
        margin-top: 20px;
        h4 {
            font-family: gotham-bold;
            @include fontSize(20px)
        }
        p {
            font-family: gotham-book;
            margin: 0;
        }
        .contact-no {
            margin: 6px 0;
        }
    }
    .europe {
        background: $secondary-color;
    }
    @media screen and (min-width: 540px) {
        img {
            width: 50%;
        }
    }
    @media screen and (min-width: 992px) {
        padding: 60px 0 20px;
        .locations {
            padding: 60px 0;
        }
        .map {
            img {
                width: 80%;
            }
        }
        ul {
            padding-bottom: 0;
            li {
                display: inline-block;
                margin: 0 30px 40px 0;
            }
        }
    }
}
.contact-email {
    background: $sky-blue-bg;
    color: $secondary-color;
}