$light-blue: #36b4e5;
$sky-blue-bg: #46b9e3;
$dark-blue-bg: #323641;
$secondary-color: #fff;
$primary-color: #000;
$highlight-color: #ed1a58;
$highlight-bg: #eff1f3;
$shadow: #111;
$gray-bg:#eaeaec;
$line-color: #c4c5c9;
$footer-bg: #313540;
$dark-blue-color: #323540;
$location-link: #235789;
$location-bg: #ecf8fc;
$gray-text: #7f8491;
$dark-gray-bg: #e5e5e5;
$event-bg: #9bc53d;