@mixin blog {
    .blog {
        .blog-date {
            @include fontSize(14);
            .date {
                display: block;
                @include fontSize(16);
            }
            .post-category {
                @include fontSize(11);
                background: $dark-gray-bg;
                padding: 5px 8px;
                color: $primary-color;
            }
        }
        h1 {
            font-family: gotham-bold;
            @include fontSize(24);
        }
        p {
            @include fontSize(12);
            line-height: 1.3;
        }
        .blog-link {
            font-family: gotham-bold;
            color: $light-blue;
            @include fontSize(18);
            border-bottom: 1px solid $sky-blue-bg;
        }
    }
}

@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
@function calculateRem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}